.leftconent-active{
    background-color: #dfe2e7 !important;
    border:solid #2a52f0  5px !important;
    box-shadow: 0 2px 2px 4px rgb(42,82,240,0.3) !important;
    
    .headercontent{
        background-color: #2a52f0   !important;
        color: #dfe2e7  !important ;
    }

    .todoCheck{
        color: #dfe2e7 !important;

        input{
            background-color: #7ea2e0 !important;
            color: #dfe2e7   !important;
            outline: none !important;
        }

        .todoCheck__box{
            background-color: #57585a !important;


            .todoCheck_box-icon_left:hover{
                color: #7ea2e0 !important;
               
            }
          
            .todoCheck_box-icon_rigth:hover{
                color: #7ea2e0 !important;
            }

            .todoCheck_box_edit-icon:hover{
                color:#7ea2e0  !important;
            }
        }
    }
}

.leftconent {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 450px;
    width: 450px;
    background: #242424;
    border-radius: 20px 20px 0 0;
    border:solid #121212 5px;
    box-shadow: 0 2px 2px 4px #0000004d;
    transition: 0.3s;

    .headercontent{
        width: 450px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #FFC107;
        border-radius: 20px 20px 0 0;
        background-color: #121212;
        transition: 0.3s;
    }

    .active{
        background-color: aqua;
    }

    .leftcontent__list {
        width: 450px;
        display: flex;
        flex-direction: column;
        overflow: auto;
        height: 100%;
    }

    p {
        color: white;
    }

    .todoCheck {
        display: flex;
        justify-content: center;
        align-items: flex-start !important;
        height: 40px;
        color: #121212;
        

        input{
            background-color: #121212;
            text-align: center;
            color: white;
            font-size: 1.2rem;
            border-style: none;
            height: 30px;
            border-radius: 20px;
            width: 394px;
            
        }

        input::placeholder{
            text-align: center;
        }

        div{
            display: flex;
            align-items: center;
            justify-content: center;
            span{
                max-width: 320.48px;
                min-width: 320.48px;
                font-size: 1.2rem;
            }
        }


        .todoCheck__box {
            display: flex;
            align-content: center;
            justify-content: space-around;
            border-radius: 15px;
            background: rgb(245, 56, 56);
            padding: 10px;
            margin-top: 10px;
            position: relative;
            right: 20px !important;
            transition: 0.3s;


            .todoCheck_box-icon_left {
                cursor: pointer;
                font-size: 18px !important;
                margin-right: 10px;
                transition: 0.15s;
            }

            .todoCheck_box-icon_left:hover{
                color: white;
                opacity: 0.7;
            }

            .todoCheck_box-icon_rigth {
                cursor: pointer;
                font-size: 18px !important;
                transition: 0.15s;
            }

            .todoCheck_box-icon_rigth:hover{
                color: white;
                opacity: 0.7;
            }

            .todoCheck_box_edit-icon{
                cursor: pointer;
                font-size: 18px;
                margin-right: 10px;
                transition: 0.15s;
            }

            .todoCheck_box_edit-icon:hover{
                color: white;
                opacity: 0.7;
            }

        }

    }
}



@media (max-width:1367px) {

    .leftconent{
        width: 430px;
        

        .headercontent{
            width: 430px;
        }

        .leftcontent__list {
            width: 430px;
        }

        .todoCheck__box{
            padding: 10px;
            margin-top: 10px;
            position: relative;
            right: 20px !important;

             
            input{
                background-color: #121212;
                text-align: center;
                color: white;
                font-size: 1.2rem;
                border-style: none;
                height: 30px;
                border-radius: 20px;
                width: 360.47px;
                
            }

            div{
                span{
                    max-width: 300.48px;
                    min-width: 300.48px;
                    font-size: 1.2rem;
                }
            }
        }

       

       
    }

}

@media (max-width:1281px) {

    .leftconent{
        width: 400px;
        

        .headercontent{
            width: 400px;
        }

        .leftcontent__list {
            width: 400px;
        }

        .todoCheck__box{
             
            input{
                width: 330.47px;
                
            }

            div{
                span{
                    max-width: 270.48px;
                    min-width: 270.48px;
                    font-size: 1.2rem;
                }
            }
        }

       

       
    }

}


@media (max-width:992px) {

    .leftconent{
       
        margin-left: 25%;
        
    }
}


@media (max-width:769px) {

    .leftconent{
        margin-left: 6%;
       
    }

}




@media (max-width:601px) {

    .leftconent{
        margin-left: 6%;
       
    }

}

@media (max-width:481px) {

    .leftconent{
        margin-left: 1.8%;      
    }

}




@media (max-width:415px) {
    
    .leftconent{
        width: 350px;
        margin-left: 1%;

        .headercontent{
            width: 350px;
        }

        .leftcontent__list {
            width: 350px;
        }

        .todoCheck__box{

             
            input{
                width: 280.47px;
                
            }

            div{
                span{
                    max-width: 220.48px;
                    min-width: 220.48px;
                    font-size: 1rem;
                }
            }
        }

    }

}

@media (max-width:376px) {
    
    .leftconent{
        width: 325px;
        margin-left: 1%;

        .headercontent{
            width: 325px;
        }

        .leftcontent__list {
            width: 325px;
        }

        .todoCheck__box{

             
            input{
                width: 255.47px;
                
            }

            div{
                span{
                    max-width: 195.48px;
                    min-width: 195.48px;
                    font-size: 1rem;
                }
            }
        }

    }

}





@media (max-width:321px) {
    
    .leftconent{
        width: 270px;
        

        .headercontent{
            width: 270px;
        }

        .leftcontent__list {
            width: 270px;
        }

        .todoCheck__box{

             
            input{
                width: 200.47px;
                
            }

            div{
                span{
                    max-width: 140.48px;
                    min-width: 140.48px;
                    font-size: 1rem;
                }
            }
        }
    }

}

