.leftconent {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 450px;
    width: 450px;
    background: #242424;
    border-radius: 20px 20px 0 0;
    border:solid #121212 5px;
    box-shadow: 0 2px 2px 4px rgba(0,0,0,0.3);

    .headercontent{
        width: 460px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #FFC107;
        border-radius: 20px 20px 0 0;
        background-color: #121212;
    }

    .leftcontent__list {
        display: flex;
        flex-direction: column;
        overflow: auto;
        height: 100%;
    }

    p {
        color: white;
    }

    .todoCheck {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start !important;
        height: 40px;
        color: #121212;

        div{
            display: flex;
            align-items: center;
            justify-content: center;
            span{
                max-width: 360px;
                min-width: 360px;
                font-size: 1.2rem;
            }
        }

        li {
            display: flex;
            justify-content: flex-start;
            list-style: none;
            margin-top: 10px;
            min-width: 320px;
            margin-left: 20px;
        }

        .todoCheck__box {
            display: flex;
            align-content: flex-start;
            justify-content: flex-start;
            
            background: red;
            padding: 10px;
            margin-top: 10px;
            position: relative;
            right: 20px !important;


            .todoCheck__box-icon__left {
                cursor: pointer;
                font-size: 18px !important;
                margin-right: 10px;
            }

            .todoCheck__box-icon__left:hover{
                color: #242424;
                opacity: 0.9;
            }

            .todoCheck__box-icon__rigth {
                cursor: pointer;
                font-size: 18px !important;
            }

            .todoCheck__box-icon__rigth:hover{
                color: #242424;
                opacity: 0.9;
            }

        }

    }
}