.container-content {
    display: flex;
    gap: 20px;

    .leftconent {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: 400px;
        width: 400px;
        background: red;

        .leftcontent__list {
            display: flex;
            flex-direction: column;
            overflow: auto;
            height: 100%;
        }

        p {
            color: white;
        }

        .todoCheck {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start !important;
            height: 40px;
            color: white;

            li {
                display: flex;
                justify-content: flex-start;
                list-style: none;
                margin-top: 10px;
                min-width: 320px;
                margin-left: 20px;
            }

            .todoCheck__box {
                display: flex;
                align-content: flex-start;
                justify-content: flex-start;
                width: 360px !important;
                background: blue;
                padding: 10px;
                margin-top: 10px;
                position: relative;
                right: 20px !important;


                .todoCheck__box-icon__left {
                    cursor: pointer;
                    position: relative;
                    font-size: 40px !important;
                }

                .todoCheck__box-icon__rigth {
                    cursor: pointer;
                    position: relative;
                    font-size: 40px !important;
                }

            }

        }
    }

    .middleconent {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        background: green;
        height: 400px;
        width: 400px;

        .middlecontent__list {
            display: flex;
            align-content: flex-start;
            justify-content: flex-start;
            flex-direction: column;
            width: 360px !important;
            padding: 10px;
            position: relative;
            overflow: auto;

            .middleContent__box {
                display: flex;
                align-items: center;
                justify-content: space-around;
                background: blue;
                height: 55px;
                color: white;

                li {
                    list-style: none;
                }
                .middleContent__box-icon__left{
                    font-size: 12px;
                }
                .middleContent__box-icon__right{
                    font-size: 12px;
                }

            }
        }
    }

    .rightconent {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        background: rgb(194, 154, 154);

        height: 400px;
        width: 400px;
    }


}