.container-content-active {
    .row {
        background-color: #dfe2e7 !important;
    }
}


.container-content {
    // display: flex;
    // position: absolute !important;
    // gap: 20px;

    background-color: #242424;
}

.container-content__opacity {
    opacity: 0.2;
    background-color: #242424;
}


// componenst toast

.toast-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .toast-container__box{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 300px;
        height: 300px;
        .toast-container__header{
            display: flex;
        }
    }
}





@media (max-width:1200px) {

    .container-content {
        margin-left: 5%;
    }


}


@media (max-width:991px) {

    .container-content {
        margin-left: 20%;
    }


}



@media (max-width:636px) {

    .container-content {
        margin-left: 10%;
    }


}


@media (max-width:513px) {

    .container-content {
        margin-left: 6%;
    }


}