.container-content {
    // display: flex;
    // position: absolute !important;
    // gap: 20px;
   
    background-color: #242424;
}

.container-content__opacity {
    opacity: 0.2;
    background-color: #242424;
}