.rightconent {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: #242424;
    height: 450px;
    width: 450px;
    border-radius: 20px 20px 0 0;
    border:solid #121212 5px;
    box-shadow: 0 2px 2px 4px rgba(0,0,0,0.3);

    .headercontent{
        width: 450px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #FFC107;
        border-radius: 20px 20px 0 0;
        background-color: #121212;
    }

    .rightcontent__list {
        display: flex;
        align-content: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        
        height: 100%;
        overflow: auto;
        
        

        .rightcontent__list-box {
            display: flex;
            align-items: center;
            justify-content: space-around;
            background:lightgreen;
            color: #121212;
            padding: 10px;
            border-radius: 15px;
            margin-top: 10px;
            position: relative;
            width: 414.48px;
           
            


            .rightcontent__list-check {
                display: flex;
                align-items: center;
                justify-content: space-around;
                

                div{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    span{
                        max-width: 320px;
                        min-width: 320px;
                        font-size: 1.2rem;
                        text-decoration: line-through;
                    }
                }



                

                .rigthContnent__box-icon__left {
                    cursor: pointer;
                    font-size: 18px;
                    margin-right: 10px;
                }

                .rigthContnent__box-icon__left:hover{
                    color: #242424;
                    opacity: 0.9;
                }

                .rigthContnent__box-icon__rigth {
                    cursor: pointer;
                    font-size: 18px;
                }
                
                .rigthContnent__box-icon__rigth:hover{
                    color: #242424;
                    opacity: 0.9;
                }

            }
        }
    }
}




@media (max-width:450px) {

    .rightconent{
        width: 350px;
        margin-left: 3%;

        .headercontent{
            width: 350px;
        }

        .rightcontent__list{

            .rightcontent__list-box{

                width: 314.47px;
                .rightcontent__list-check {

    
                    div{
                        span{
                            max-width: 220.48px;
                            min-width: 220.48px;
                            font-size: 1rem;
                        }
                    }

            }
        }
    }




}
}