.right-conent-active{
    background-color: #dfe2e7  !important;
    border:solid #2a52f0  5px !important;
    box-shadow: 0 2px 2px 4px rgb(42,82,240,0.3) !important;

    .headercontent{
        background-color: #2a52f0 !important;
        color: #dfe2e7 !important; 
    }

    .rightcontent__list{

        .rightcontent__list-box {
            background:#948c94 !important;
            color: #dfe2e7 !important;


            .rightcontent__list-check{


                .rigthContnent__box-icon__left:hover{
                    color: #7ea2e0 !important; 
                    opacity: 0.7;
                }

                .rigthContnent__box-icon__rigth:hover{
                    color: #7ea2e0 !important; 
                    opacity: 0.7;
                }
            }
        }

    }
}



.rightconent {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: #242424;
    height: 450px;
    width: 450px;
    border-radius: 20px 20px 0 0;
    border:solid #121212 5px;
    box-shadow: 0 2px 2px 4px rgba(0,0,0,0.3);

    .headercontent{
        width: 450px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #FFC107;
        border-radius: 20px 20px 0 0;
        background-color: #121212;
    }

    .rightcontent__list {
        display: flex;
        align-content: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        
        height: 100%;
        overflow: auto;
        
        

        .rightcontent__list-box {
            display: flex;
            align-items: center;
            justify-content: space-around;
            background:lightgreen;
            color: #121212;
            padding: 10px;
            border-radius: 15px;
            margin-top: 10px;
            position: relative;
            width: 414.48px;
           
            


            .rightcontent__list-check {
                display: flex;
                align-items: center;
                justify-content: space-around;
                

                div{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    span{
                        max-width: 320px;
                        min-width: 320px;
                        font-size: 1.2rem;
                        text-decoration: line-through;
                    }
                }



                

                .rigthContnent__box-icon__left {
                    cursor: pointer;
                    font-size: 18px;
                    margin-right: 10px;
                    transition: 0.3s;
                }

                .rigthContnent__box-icon__left:hover{
                    color: white;
                    opacity: 0.7;
                }

                .rigthContnent__box-icon__rigth {
                    cursor: pointer;
                    font-size: 18px;
                    transition: 0.3s;
                }
                
                .rigthContnent__box-icon__rigth:hover{
                    color: white;
                    opacity: 0.7;
                }

            }
        }
    }
}


@media (max-width:1367px) {

    .rightconent{
        width: 430px;
       

        .headercontent{
            width: 430px;
        }

        .rightcontent__list{

            .rightcontent__list-box{

                width: 394.47px;
                height: 48.8px;
                .rightcontent__list-check {

    
                    div{
                        span{
                            max-width: 220.48px;
                            min-width: 220.48px;
                            font-size: 1rem;
                        }
                    }

            }
        }
    }




}
}


@media (max-width:1281px) {

    .rightconent{
        width: 400px;
       

        .headercontent{
            width: 400px;
        }

        .rightcontent__list{

            .rightcontent__list-box{

                width: 364.47px;
                .rightcontent__list-check {

    
                    div{
                        span{
                            max-width: 190.48px;
                            min-width: 190.48px;
                            font-size: 1rem;
                        }
                    }

            }
        }
    }




}
}


@media (max-width:992px) {

    .rightconent{
       
        margin-left: 25%;

}
}


@media (max-width:769px) {

    .rightconent{
        margin-left: 6%;
}
}





@media (max-width:601px) {

    .rightconent{
        margin-left: 6%;
}
}

@media (max-width:481px) {

    .rightconent{
        margin-left: 1.8%;
}
}






@media (max-width:415px) {

    .rightconent{
        width: 350px;
        margin-left: 1%;

        .headercontent{
            width: 350px;
        }

        .rightcontent__list{

            .rightcontent__list-box{

                width: 314.47px;
                .rightcontent__list-check {

    
                    div{
                        span{
                            max-width: 220.48px;
                            min-width: 220.48px;
                            font-size: 1rem;
                        }
                    }

            }
        }
    }

}
}

@media (max-width:376px) {

    .rightconent{
        width: 325px;
        margin-left: 1%;

        .headercontent{
            width: 325px;
        }

        .rightcontent__list{

            .rightcontent__list-box{

                width: 289.47px;
                .rightcontent__list-check {

    
                    div{
                        span{
                            max-width: 195.48px;
                            min-width: 195.48px;
                            font-size: 1rem;
                        }
                    }

            }
        }
    }

}
}


@media (max-width:321px) {

    .rightconent{
        width: 270px;
        

        .headercontent{
            width: 270px;
        }

        .rightcontent__list{

            .rightcontent__list-box{

                width: 234.47px;
                .rightcontent__list-check {

    
                    div{
                        span{
                            max-width: 140.48px;
                            min-width: 140.48px;
                            font-size: 1rem;
                        }
                    }

            }
        }
    }




}
}