.middleconent {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: #242424;
    height: 450px;
    width: 450px;
    border-radius: 20px 20px 0 0;
    border:solid #121212 5px;
    box-shadow: 0 2px 2px 4px rgba(0,0,0,0.3);


    .headercontent{
        width: 460px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #FFC107;
        border-radius: 20px 20px 0 0;
        background-color: #121212;
    }

    .middlecontent__list {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        margin-top: 10px;
        height: 100%;
        overflow: auto;
        
        .middlecontent__list__todoCheck{
            height: 30px;
            margin-bottom: 25px;
        }

        .middleContent__box {
            display: flex;
            align-items: center;
            justify-content: space-around;
            background-color: orange;  
            color: #121212;
            border-radius: 15px;
            padding: 10px;
            position: relative;
            right: 20px !important;
            
            input{
                background-color: #121212;
                height: 30px;
                width: 415px;
                color:white;
                text-align: center;
                font-size: 1.2rem;
                border-radius: 20px;
            }

            input::placeholder{
                text-align: center;
                font-size: 1.2rem;
            }


            .iconcontainer{
               
                .switch-label{
                    display: none;
                    font-size: 12px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }

            div{
                display: flex;
                align-items: center;
                justify-content: center;
                span{
                    max-width: 310px;
                    min-width: 310px;
                    font-size: 1.2rem;
                }
            }

            li {
                list-style: none;
            }

            .middleContent__box-icon__left {
                cursor: pointer;
                font-size: 18px;
                margin-right: 10px;
            }

            .middleContent__box-icon__left:hover{
                color: #242424;
                opacity: 0.9;
            }

            .middleContent__box__edit-icon{
                font-size: 18px;
                margin-right: 10px;
                cursor:pointer;
            }

            .middleContent__box__edit-icon:hover{
                color: #242424;
                opacity: 0.9;
            }

            .container__altBox-switch{
                display: none;
                cursor: pointer;
                width: 20px;
                max-width: 20px;
                height: 20px;
            
            }

        }
    }
}