.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  background-color: #242424;


}

h1{
  position: absolute;
  top: 50px;
  color: white;
  font-size: 3rem;
  text-shadow: 0 4px 8px 8px;
}

