.modal-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 400px;
    height: 400px;
    color: white;
    background: rgb(15, 37, 92);

    .modal-content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .modal-close {
            cursor: pointer;
        }

    }

    .modal-content__options {
        display: flex;
        align-items: center;
        justify-content: center;
        background: red;
        height: 100px;
        width: 300px;
        gap: 20px;


        button {
            cursor: pointer;
            background: green;
            height: 40px;
            width: 60px;
            color: white;
            border-style: none;
        }

    }

}